# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars


terraform.tfvars

tfplan
*.tfstate
*.tfstate.*
*.tfvars
*.key
*.pem
*.pub
.terraform/
backend-config.hcl
ips.txt